.resources-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(189,155,77,0.08);
}
.resources-headline{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}
.resources-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.resources-grid-item-headline{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding:1em;
}
