.products-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:100%;
}
.products-headline {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
}
.products-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.products-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  grid-template-rows: 1fr 1fr 1fr;

}
