
.clmcapabilities-container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.clmcapabilities-headline{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: black;
  text-align: center;
  padding: 3rem;

}

.clmcapabilities-img img{
  padding-left: 5%;
  width: 100%;

}
