:host {
  display: block;
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.carousel-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eff5ff;
  overflow: hidden;
}

.carousel-item-text{
  flex: 0 0 33.333%;
  max-width: 33.333%;

  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items:flex-start;

  padding: 0 24px;
  box-sizing: border-box;

  /* prevent long text from blowing up fixed height */
  overflow: hidden;

}

.carousel-item-image{
  height: 100%;
}

// For the img inside the flex item
.carousel-item-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.carousel-item-text-headline{
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1.25em, 2.2vw, 2rem);
  line-height: 1.10em;
}
.carousel-item-text-text{
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1em, 1.6vw, 1.5rem);
  padding-top: 1rem;
}
@media (max-width: 768px){
  :host { height: auto; }

  .carousel-item{
    height: auto;
    flex-direction: column;
  }

  .carousel-item-text,
  .carousel-item-image{
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .carousel-item-image img{
    width: 100%;
    height: auto;
  }
}


