.carousel-container{
  width: 100%;
  position: relative; /* so absolute buttons anchor to this */

}
.carousel-wrapper{
  overflow: hidden;
  height: 325px  /* hard requirement */

}
.carousel-track{
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
@media (max-width: 768px){
  .carousel-wrapper{ height: auto}
  .scroll-button{ display: none}
}
.scroll-button {
  transition: transform 0.2s ease-in-out;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px; /* p-2 */
  border-radius: 9999px; /* rounded-full */
  background-color: #374151; /* bg-gray-700 */
  color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.scroll-button.left {
  left: 0rem; /* -left-8 */
}

.scroll-button.right {
  right: 0rem; /* -right-8 */
}

.scroll-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.scroll-button:focus {
  outline: none;
}

.button-svg {
  height: 1.5rem; /* h-6 */
  width: 1.5rem; /* w-6 */
  fill: none;
  stroke: currentColor;
}
