.solutions-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(189,155,77,0.08);
  width:100%;
}
.solutions-headline {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}
.solutions-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.solutions-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  text-align: left;
  align-items: flex-start;
}
.solutions-row-item {
  flex:1;
  padding: 2rem;
}
.solutions-row-item-headline {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  padding-bottom: 3rem;
}
.solutions-row-item-text{}
.solutions-row-item-text-footer{}
