.twohundreddaycerts-container {
  width: 100%;
 justify-content: center;
  background-color: rgb(189,155,77,0.08);
  padding-bottom: 2rem;
}

.twohundreddaycerts-headline{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: black;
  text-align: center;
  padding: 3rem;
}

.twohundreddaycerts-text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}
