.contact-us-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.contact-us-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-us-left {
  flex:2;
}
.contact-us-form{
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
}
.contact-us{
  margin-top:-10em;
  padding-left:5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 2;
}
.contact-us-address{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 0.1em;
}
.contact-us-email{
  padding-top:1em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.contact-us-right{
  flex:2;
}

mat-form-field {
  width: 100%;
}
:host ::ng-deep .my-rounded-field {

  /* Target the main outline container for general styles */
  .mdc-notched-outline {
    /* Set a small border-radius here if you want a subtle effect, but don't overdo it */
  }

  /* Target the leading (left) part of the outline */
  .mdc-notched-outline__leading {
    border-top-left-radius: 90px  !important;
    border-bottom-left-radius: 90px  !important;
  }

  /* Target the trailing (right) part of the outline */
  .mdc-notched-outline__trailing {
    border-radius: 0 15px 15px 0 !important;
  }

  /* Optional: Adjust the 'notch' border to be straight */
  .mdc-notched-outline__notch {
    border-radius: 0 !important;
  }
}


button{
  width: 30%;
}
.lines{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-left: -18px;
  margin-top:-20px;
}
.blue_line{
  color: blue;
  width:90%;
}
.gold_line{
  color: gold;
  width:80%;
  margin-left:19px;
  margin-top: -1px;
}
